@mixin mq($screen, $size) {

	@if ($size == "min") {
		@media (min-width: $screen) {
			@content;
		}
    }
        @if ($size == "mediun") {
            @media (min-width: $screen) {
                @content;
            }
	}
	@if ($size == "max") {
		@media (max-width: $screen) {
			@content;
		}
	}
}
